<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>MVC With Burgers!</title>
	<!-- Latest compiled and minified CSS -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
</head>

<body>

	<div class="container text-center main-text">
		<div class="row">
			<div class="col-md-12">
				<div class="container">
					<img id="box" src="/assets/img/burger.png" alt="Burger" width="250" height="150">
				</div>
				<h1 class="display-4">Eat-Da-Burger</h1>
				<p class="lead">Order a burger and devour it when it's ready!</p>
			</div>
		</div>
	</div>
	{{{ body }}}

</body>

</html>