<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 main-area">
      <h3>Burgers to devour!</h3>
      <ul>
        <div>
          {{#each burgers}} {{#unless devoured}} {{> burgers/burger-block devoured=true}} {{/unless}} {{/each}}
        </div>
      </ul>
    </div>

    <div class="col-md-6 main-area">
      <h3>Devoured Burgers!</h3>
      <ul>
        {{#each burgers}} {{#if devoured}} {{>burgers/burger-block devoured=false}} {{/if}} {{/each}}
      </ul>
    </div>
  </div>
</div>
<hr>
<form class="create-form">

  <div class="form-group">
    <label for="ca"></label>
    <textarea name="textarea" rows="5" cols="35" id="ca" name="name" placeholder="Enter a burger you want to eat..."></textarea>
  </div>

  <div class="container">

    <button id="submit_button" type="submit" class="btn btn-primary">Add a Burger!</button>

  </div>
  
</form>